.header_article {
    height: 430px;
    width: 100%;
    background: rgb(37, 36, 36);
    position: relative;
}

.header_article .header_texture {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    background: url('../img/article1.png') center no-repeat;
    background-size: cover;
    z-index: 1;
    opacity: 0.5;
}

.article_view-container {
    width: 60%;
    margin: auto;
    padding-top: 20px;
}
.article_view-title {
    border-bottom: 2px solid #2c3e50;
    font-size: 30px;
    color: #2c3e50;
    margin: 0;
}

.article_view-subtitle {
    font-weight: 400;
    margin: 10px 0;
    padding: 0;
    font-size: 15px;
    font-style: italic;
    opacity: 0.8;
}

.article_view-content {
    padding: 10px;
    padding-top: 10px;
    text-align: justify;
    font-weight: 300;   
    padding-bottom: 30px;
    font-size: 17px;
    line-height: 25px;
}